<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
  <title>PokeAgenda</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">PokéAgenda</a></h1>
    </div>
    <nav>
      <ul>
        <% if current_user.present? %>
          <li>
            <%= current_user.email%>
          </li>
          <li>
            <%= link_to "Sair", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Entrar", new_user_session_path, class: "cpy-login-link"%>
          </li>
          <li>
            <%= link_to "Criar conta", new_user_registration_path%>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="slider"><a href="#"><img src="images/demo/960x360.gif" alt=""></a></section>
    <section id="shout">
      <h1>PokéAgenda</h1>
      <p>Projeto PokéAgenda: Um repositório da localização de 'nests' do aplicativo mobile Pokemón Go da Niantic. A PokéAgenda será um website onde usuários poderão consultar a localização dos 'nests' e quais pokémons aparecem neles, assim como adicionar comentários e avaliar a informação disponível sobre cada 'nest'.Projeto PokéAgenda: Um repositório da localização de 'nests' do aplicativo mobile Pokemón Go da Niantic. A PokéAgenda será um website onde usuários poderão consultar a localização dos 'nests' e quais pokémons aparecem neles, assim como adicionar comentários e avaliar a informação disponível sobre cada 'nest'.</p>
    </section>
    <!-- content body -->
    <div id="content">
      <!-- main content -->
	<section >
    	<article>
		<h2>Links</h2>
		<p><a href="https://travis-ci.org/stat2008/Engenharia-de-Software.svg?branch=master">Travis</a>
		<p><a href="https://codeclimate.com/repos/57cb3b2e1ebccb7b280007c1/feed">Code Climate</a>
		<p><a href="https://www.pivotaltracker.com/n/projects/1862743">Pivotal Tracker</a>
		<p><a href="http://engenhariadesoftware.herokuapp.com">Heroku</a>
		<p><a href="https://github.com/stat2008/Engenharia-de-Software">GitHub</a>
		</article>
	</section>
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- /section -->
    </aside>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">PokéAgenda &copy; 2016 - Todos os Direitos Reservados.
  </footer>
</div>
</body>
</html>
